<html>
<head>
    <title></title>
</head>
<body>
    <form style="margin-top:40px"   method="post" action="/home/CatAdd">
        <input type="text" name="name" class="form-control" />
        <button class="btn nbtn-success">Add</button>
    </form>
</body>
</html>

