

@model List<March18.Models.ToDoItems>
<html>
<head>
    <title></title>
</head>
<body>
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Completed Date</th>
            <th>Category Name</th>
        </tr>
        @foreach (ToDoItems t in Model)
        {
            <tr>
                <td>@t.Title</td>
                <td>@t.CompletedDate</td>
                <td>@t.CategoryName</td>
            </tr>
        }
    </table>
</body>
</html>